In [3]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\apurva\appdata\roaming\python\python312\site-packages (2.2.1)

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\apurva\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\apurva\appdata\roaming\python\python312\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\apurva\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df=pd.read_csv("admission.csv")

In [15]:
print("shape of data:",df.shape)

shape of data: (500, 9)

In [17]:
print("/n missing values :")
print(df.isnull().sum())

/n missing values :
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [19]:
print("/n data type of each column")
print(df.dtypes)

/n data type of each column
Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [21]:
print("\n Number of zeroes:")
print((df==0).sum())

 Number of zeroes:
Serial No.             0
GRE Score              0
TOEFL Score            0
University Rating      0
SOP                    0
LOR                    0
CGPA                   0
Research             220
Chance of Admit        0
dtype: int64

In [23]:
selected_cols=df[['SOP','Research']]
print(selected_cols)

     SOP  Research
0    4.5         1
1    4.0         1
2    3.0         1
3    3.5         1
4    2.0         0
..   ...       ...
495  4.5         1
496  5.0         1
497  4.5         1
498  4.0         0
499  4.5         0

[500 rows x 2 columns]

In [29]:
filtered_rows=df[df['SOP']>3]
print(filtered_rows)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0             1        337          118                  4  4.5  4.5  9.65
1             2        324          107                  4  4.0  4.5  8.87
3             4        322          110                  3  3.5  2.5  8.67
5             6        330          115                  5  4.5  3.0  9.34
9            10        323          108                  3  3.5  3.0  8.60
..          ...        ...          ...                ...  ...  ...   ...
495         496        332          108                  5  4.5  4.0  9.02
496         497        337          117                  5  5.0  5.0  9.87
497         498        330          120                  5  4.5  5.0  9.56
498         499        312          103                  4  4.0  5.0  8.43
499         500        327          113                  4  4.5  4.5  9.04

     Research  Chance of Admit
0           1             0.92
1           1             0.76
3           1             0.80
5           1             0.90
9           0             0.45
..        ...              ...
495         1             0.87
496         1             0.96
497         1             0.93
498         0             0.73
499         0             0.84

[282 rows x 9 columns]

In [33]:
sorted_data = df.sort_values(by='CGPA', ascending=True)
print(sorted_data)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
58           59        300           99                  1  3.0  2.0  6.80
28           29        295           93                  1  2.0  2.0  7.20
464         465        298           97                  2  2.0  3.0  7.21
436         437        310          110                  1  1.5  4.0  7.23
348         349        302           99                  1  2.0  2.0  7.25
..          ...        ...          ...                ...  ...  ...   ...
425         426        323          111                  5  4.0  5.0  9.86
496         497        337          117                  5  5.0  5.0  9.87
203         204        334          120                  5  4.0  5.0  9.87
202         203        340          120                  5  4.5  4.5  9.91
143         144        340          120                  4  4.5  4.0  9.92

     Research  Chance of Admit
58          1             0.36
28          0             0.46
464         0             0.45
436         1             0.58
348         0             0.57
..        ...              ...
425         1             0.92
496         1             0.96
203         1             0.97
202         1             0.97
143         1             0.97

[500 rows x 9 columns]

In [35]:
print(df.describe())

       Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
count  500.000000  500.000000   500.000000         500.000000  500.000000
mean   250.500000  316.472000   107.192000           3.114000    3.374000
std    144.481833   11.295148     6.081868           1.143512    0.991004
min      1.000000  290.000000    92.000000           1.000000    1.000000
25%    125.750000  308.000000   103.000000           2.000000    2.500000
50%    250.500000  317.000000   107.000000           3.000000    3.500000
75%    375.250000  325.000000   112.000000           4.000000    4.000000
max    500.000000  340.000000   120.000000           5.000000    5.000000

             LOR        CGPA    Research  Chance of Admit
count  500.00000  500.000000  500.000000        500.00000
mean     3.48400    8.576440    0.560000          0.72174
std      0.92545    0.604813    0.496884          0.14114
min      1.00000    6.800000    0.000000          0.34000
25%      3.00000    8.127500    0.000000          0.63000
50%      3.50000    8.560000    1.000000          0.72000
75%      4.00000    9.040000    1.000000          0.82000
max      5.00000    9.920000    1.000000          0.97000

In [37]:
print("\n unique value count in each column")
print(df.nunique())

 unique value count in each column
Serial No.           500
GRE Score             49
TOEFL Score           29
University Rating      5
SOP                    9
LOR                    9
CGPA                 184
Research               2
Chance of Admit       61
dtype: int64

In [53]:
df['datecolumn']=pd.to_datetime(df['SOP'])

In [55]:
print("\n Updated data types after conversion")
print(df.dtypes)

 Updated data types after conversion
Serial No.                    int64
GRE Score                     int64
TOEFL Score                   int64
University Rating             int64
SOP                         float64
LOR                         float64
CGPA                        float64
Research                      int64
Chance of Admit             float64
datecolumn           datetime64[ns]
dtype: object